*{
  margin:0px;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: Poppins;
}
/*--Navbar css starts--*/
#navbar {
  background-color:rgba(0, 0, 0, 0.212);
  opacity:60%;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right:0;
  top: 0;
  z-index: 1000;
}
/*#namelogo {
  margin:4vw 0vw 0vw -5vw;
}*/
#namelogo{
  height:8vh;
  margin:4vw 0vw 7vh 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#namelogo>img{
  width:20vh;
}
.nav-links {
  margin: 0vh 2vw 0vh 3vw;
}
.nav-links a {
  color:#fff;
  text-decoration: none;
  padding: 1vw;
  position: relative;
  font-size: 18px;
}
.nav-links a::after {
  content: "";
  width: 0;
  height: 0.3vh;
  margin-left: 1vw;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #a59132;
  transition: width 0.3s ease;
}
.nav-links a:hover::after {
  content: "";
  width: 75%;
  margin-left: 1vw;
  height: 0.3vh;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #a59132;
  transition: width 0.3s ease;
}
.nav-links a.active-link::after {
  width: 72%;
  margin-left: 1vw;
}
#contact-link{
  display: none;
}
button>a{
  text-decoration: none;
  color: #fff;
}
#contact-btn{
  background-color: transparent;
  width:10vw;
  height: 8vh;
  border: 1px solid #a59132;
  color:#fff;
  border-radius: 25px;
  cursor: pointer;
  margin-right:7vw;
  font-size: 18px;
}
#contact-btn:hover {
  background-color:#a59132;
  color: white;
  border-style:none;
  transition: 1s;
}
#contact-btn-link {
  text-decoration: none;
  color: black;
}
#menu-icon {
  display: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
#cross-icon {
  display: none;
  color: white;
  font-size: 0.85rem;
  cursor: pointer;
}
/*--Navbar css ends--*/
#firstsection{
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(30, 14, 4, 0.7));
  height:100vh;
  width: 100vw;
  display: flex;
  align-items: center;

}
#firstsection video {
  height:100vh;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  top:0px;
  z-index: -1;
}
#firstsection-div{
height:45vh;
width:45vw;
margin-left: 7vw;
margin-top: 10vh;
color: #fff;
}
#firstsection-div>h1 {
  font-size: 6vh;
  font-weight: 400;
}
#firstsection-div>p{
  margin-top: 5vh;
}
#join-btn{
  background-color: transparent;
  width: 12vw;
  height: 8vh;
 border: 1px solid #a59132;
  color:#fff;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 5vh;
}
#join-btn:hover {
  background-color:#a59132;
  color: white;
  border-style:none;
  transition: 1s;
}
#join-btn-link {
  text-decoration: none;
  color: black;
}
#slider-section{
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slider-section>p{
 margin-top:5vh;
 color:#a59132;
 font-family: "Satisfy";
 font-weight: 400;
 font-style:italic;
 font-size:25px;
}
#slider-section>h2{
  margin-top:5vh;
  color: black;
  text-align: center;
  margin:0vh 2vw 0vh 2vw;
  
 }
 .slider-container {
  position: relative;
  width: 100vw; 
  max-width:80vw;
  overflow: hidden;
  margin-top:10vh;
}
.slider-wrapper {
  overflow: hidden;
  width: 80vw;
}
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.card {
  background-color: black;
  width: 300px;
  margin: 10px;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 150px;
  border-radius: 10px;
  flex-shrink: 0;
  height:65vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.card-image {
  width: 100%;
  height:80%;
  border-radius: 10px; 
  object-fit: cover;
}
.card-info{
  margin-top:-4vh;
  height: 20%;
  display: flex;
  flex-direction:column;
  gap: 2vh;
  color: #a59132;
}
.card-info>h6{
   height:5%;
   margin-top: -5vh;
}
.card-info>p{
font-size:16px;
height: 5%;
margin:1vh 2vh 1vh 2vh
}
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 20px;
  cursor: pointer;
  z-index: 100;
  border-radius: 50%;
}
.nav-btn.left-btn {
  left: 10px;
}
.nav-btn.right-btn {
  right: 10px;
}
.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.nav-btn:disabled {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.3);
}
#thirdsection{
height: 100vh;
margin-top:8vh;
display: flex;
justify-content: center;
}
.new-irregular-container {
width: 100vw;
height: 84vh;
padding: 50px;
background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(30, 14, 4, 0.7)),url("images/background.jpg");
background-repeat: no-repeat;
background-size: cover;
opacity:70%;
color: white;
position: relative;
clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0% 100%, 0% 20%); /* Irregular top, square bottom */
opacity: 0;
transform: scale(0.5);
transition: opacity 1s ease-in-out, transform 1s ease-in-out;
box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
z-index: 10;
}
.new-irregular-container.show {
opacity: 1;
transform: scale(1);
}
.content {
text-align: center;
}
.content h1 {
margin-top:30vh;
font-size: 32px;
font-weight: 700;
letter-spacing: 1px;
}
.content p {
margin-top:20vh;
font-size: 18px;
color: #fff;
}
@keyframes slideIn {
from {
  opacity: 0;
  transform: scale(0.5);
}
to {
  opacity: 1;
  transform: scale(1);
}
}
#project-section {
/*background: linear-gradient(to top,white,black);*/
height:85vh;
color: white;
margin-top:0vh;
}
#project-outer-container{
display: flex;
flex-direction:column;
}
#project-container{
height: 70vh;
margin:6vh 7vw 0vh 7vw;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;

}
#project-container2{   
display:none;
}
.project {
  opacity: 0; /* Start hidden */
  transform: translateY(50px); /* Slightly move out of position */
  transition: opacity 0.8s ease, transform 0.8s ease; /* Smooth transition */
}

.project.visible {
  opacity: 1; /* Fade in */
  transform: translateY(0); /* Move to its original position */
}

#advisory,#boardroom,#custom {
height:60vh;
width: 55vh;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
position: relative;
overflow: hidden;
}

/*for transition css ends*/

.project-img {
width: 100%;
height: 100%;
border-radius: 10px; 
}
.project-img:hover {
transform: scale(1.1);
}
.project-layer {
  background: linear-gradient(to bottom, rgba(143, 138, 138, 0.712),black);
text-align: center;
height: 0;
width: 100%;
margin-top:2vh;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 10px;
position: absolute;
left: 0;
bottom: 0;
transition: height 0.5s;
}
.project:hover .project-layer {
height: 100%;
}
.project-title {
margin-top:10vh;
}
.project-description {
padding-left: 2vw;
padding-right: 2vw;
margin-top:2vh;
font-size: 12px;
}
.project-link {
text-decoration: none;
color: #a59132;
background-color: white;
height: 5vh;
width: 5vh;
margin-top:2vh;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

/* automatic slider section strt*/
.autoslider-container {
  width:100%;
  height:40vh;
  margin-top:10vh;
  overflow: hidden;
  position: relative;
}
.autoslider-track {
  display: flex;
  gap: 2vw;
  animation: slide 20s linear infinite;
}
.autoslider {
  width:30vw; /* Slide width */
  height:40vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  font-weight: bold;
  border-radius: 10px;
  flex-shrink: 0; /* Prevent shrinking */
}
.autoslider-img {
  height:100%;
  width: 100%;
  border-radius: 10px;
 
}
/* Continuous scroll animation */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* automatic slider section ends*/

/*-- fifth section css For Transition start--*/
/* Initial state for elements (hidden and off-screen) */
#fifthsection-div,
#circles-container {
opacity: 0; /* Initially invisible */
transform: translateY(50px); /* Initially moved down */
transition: opacity 0.8s ease, transform 0.8s ease; /* Smooth transition for both opacity and transform */
}

/* When the section is in view (when the 'visible' class is added) */
.visible #fifthsection-div,
.visible #circles-container {
opacity: 1; /* Make elements visible */
transform: translateY(0); /* Move elements into their original position */
}
/*-- fifth section css For Transition ends--*/
#fifthsection{
margin-top: 10vh;
height:70vh;
}
#fifthsection-div{
background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(30, 14, 4, 0.7)),url("images/teamm.jpg");
background-position:center;
background-repeat: no-repeat;
background-size: cover;
height:50vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#fifthsection-div>h2{
margin-top:10vh;
}
#fifthsection-div>button{
margin-top:6vh;
padding: 2vh 0vh 2vh 0vh;
}
#circles-container{
height:20vh;
width: 100vw;
margin-top: 6vh;
display: flex;
flex-direction: row;
justify-content:space-evenly;
}
.circle{
height:30vh;
width:30vh;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
transition: transform 0.5s;
}
.circle {
  opacity: 0; /* Initially hidden */
  transform: scale(0.8); /* Slightly smaller size */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
}
.circle.visible {
  opacity: 1; /* Fade in */
  transform: scale(1); /* Return to original size */
}
  
.circle:hover{
transform: translateY(-7px);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#circle1{
background-image: url("images/must.jpg");
background-size: cover;
background-position: center;
}
#circle2{
background-image: url("images/meet4.jpg");
background-size: cover;
background-position: center;
}
#circle3{
background-image: url("images/hall2.jpg");
background-size: cover;
background-position: center;
}
#circle4{
background-image: url("images/party4.jpg");
background-size: cover;
background-position: center;
}
/* footer css start */
footer {
margin:0 !important;
background-color: #111;
color: #fff;
height:65vmin;
display: flex;
flex-direction: column;
align-items: center;
justify-content:space-between;
gap:2vh;
}
footer>#firstdiv{
border-bottom: 1px solid #a59132;
height:15vh;
width:77vw;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
#footer-email{
padding:2vh 0vh 2vh 1vh;
border-radius:5px;
border-style: none;
}
#subscribe-btn{
padding:2vh 3vh 2vh 3vh;
background-color: #a59132;
border-radius:5px;
border-style: none;
cursor: pointer;
}
footer>#seconddiv{
height: 45vh;
width:77vw;
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 2vh;
}
#seconddiv-firstchild{
width:35vw;
display: flex;
flex-direction: column;
gap: 2vh;
}
#footer-icons-container{
  height: 11vh;
  width: 20vw;

}
.social-iconlink > i {
  font-size:3vh;
  padding:2vh;
  margin: 0.6vw;
  color: white;
  border:1px solid white;
  border-radius: 50%;
  transition: transform 0.5s;
}
.social-iconlink > i:hover {
  color: #a59132;
  transform: translateY(-5px);
}
#seconddiv-secondchild{
  width: 10vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.footer-links{
  text-decoration: none;
  color: white;
}
.footer-links:hover{
 color: #a59132;
}
#seconddiv-thirdchild{
  width:28vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
footer>#thirddiv{
  background-color: #a59132;
  height:5vh;
  width:100vw;
  font-size: 12px;
 display: flex;
 justify-content: center;
 align-items: center;
  }

/* footer css ends */

  /* Styles for the Scroll-to-Top Button  start*/
  #scrollToTopBtn {
    height:8vh;
    width: 8vh;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #a59132;
    color: white;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: none; /* Initially hidden */
    transition: opacity 0.3s ease;
  }

  #scrollToTopBtn:hover {
    background-color: black;
  }

  /* Styles for the Scroll-to-Top Button  ends*/

  
  /* Styles for the Scroll-to-Bottom Button start */
  #scrollToBottomBtn {
    height:8vh;
    width: 8vh;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #a59132;
    color: white;
    border: none;
    border-radius: 50%;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
  }

  #scrollToBottomBtn:hover {
    background-color: black;
  }
  /* Styles for the Scroll-to-Bottom Button ends */
@media (max-width: 600px) {
  /*--body css start--*/
  body{
       overflow-x: hidden;
  }
  /*--body css ends--*/
/*-- Navbar section starts --*/
#navbar {
  background-color:rgba(0, 0, 0, 0.212);
  height: 10vh;
  z-index:1000;
}
#namelogo{
  width:1vh;
}
#namelogo>img{
  width:30vw;
  margin:10vh 0vw 5vh 20vw;

}
.nav-links {
  display: none;
  flex-direction: column; 
  align-items: center;
  position: absolute;
  top: 1vh;
  left: 0;
  background-color: black;
  opacity: 100%;
  width: 100%;
  height: 100vh;
  font-size:16px;
}
.nav-links a {
padding: 1vw;
position: relative;
margin-top:10vh;
}

.nav-links.show {
  display: flex;
}

.nav-links a.active-link::after {
  width: 75%;
  margin-left: 1vw;
}

.nav-links a:hover::after {
  content: "";
  width: 77%;
}
#contact-link{
  display:block;
}
#menu-icon, #cross-icon {
  display: block; 
  margin-right:5vw;
  
}
#cross-icon {
position:relative;
top:5vh;
 font-size:20px
  
}
   #contact-btn{
  display:none;
}
/*-- Navbar section ends --*/

  /*--firstsection  css start--*/
   #firstsection video {
  height:100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top:0px;
  z-index: -1;
}

  #firstsection-div{
    height:55vh;
    width:80vw;
    margin-left: 7vw;
    margin-top:-6vh;
    color: #fff;
}
#firstsection-div>h1 {
  font-weight:300;
  font-size: 20px;
}
#join-btn{
  width:40vw;
  height:6vh;
  margin-top: 5vh;
}


 /*--firstsection div css ends--*/

  /*--slider section div css start--*/

 #slider-section{
  background-color: aliceblue;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slider-section>p{
 margin-top:5vh;
 color:#a59132;
 font-family: "Satisfy";
 font-weight: 400;
 font-style:italic;
 font-size:25px;
}
#slider-section>h2{
  margin:5vh 7vw 0vh 7vw;
  color: white;
  font-size:16px;
  text-align: center;
  
 }
 /*--slider section div css ends--*/
 /*--slider css strt--*/
 #slider-section>h2{

  color: black;

  
 }
.card {
  height:50vh;
}
.card-info{
  margin-top:-5vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.card-info>h6{
   height: 10%;
}
.card-info>p{
font-size:16px;
height: 10%;
margin:0vh 2vh 1vh 2vh
}
 /*--slider css ends--*/

/*--project section css start--*/
#project-section {
  height:255vh;
  margin-top:-6vh;
  }
  #project-outer-container{
background-color:#fff;
  }
  #project-container{
  height:210vh;
  margin:0vh 7vw 0vh 7vw;
  display: flex;
  flex-direction:column;
  }
  #advisory,#boardroom,#custom {
  height:45vh;
  width:35vh;
  }
  /*--project section css ends--*/


  /*--autoslider section css strt--*/

  .autoslider {
    width:50vw; /* Slide width */
    height:25vh;
    /*flex-shrink: 0; *//* Prevent shrinking */
  }
  .autoslider-track {
    
    animation: slide 10s linear infinite;
  }
  
  /*--auto slider section ends--*/


  #thirdsection{
    background-color: #fff;
    margin-top: 0vh;
  }

  /*--circle css start--*/

#fifthsection-div>h2{
  margin-top:10vh;
  }
  #fifthsection-div>p{
    margin-top:3vh;
    text-align: center;
    }
  #fifthsection-div>button{
  margin-top:6vh;
  padding: 2vh 0vh 2vh 0vh;
  }
  #circles-container{
  height:20vh;
  width: 100vw;
  margin-top: 6vh;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  }
  .circle{
  height:10vh;
  width:10vh;
  }
   /*--circle css ends--*/

   /*scroll btn*/
   #scrollToTopBtn{
    z-index:1;
   }
/* footer css start */
footer{
  margin:0 !important;
  height:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  gap:2vh;
  }
  footer>#firstdiv{
  height:20vh;
  width:77vw;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  }
  #firstdiv-firstchild{
    margin-top: 5vh;
  }
  #footer-email{
  padding:1vh 0vh 1vh 1vh;

  }
  #subscribe-btn{
  padding:1vh 1vh 1vh 1vh;
  }
  footer>#seconddiv{
    margin-top:-55vh;
  height:20vh;
  width:77vw;
  display: flex;
  flex-direction:column;
  align-items: center;
  }
  #seconddiv-firstchild{
  text-align: center;
  width:77vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  }
  #footer-icons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 11vh;
    width:77vw;
  }
  .social-iconlink > i {
    font-size:1.5vh;
    padding:2vh;
    margin:2vw;
  }
  #seconddiv-secondchild{
    margin-top:2vh;
    margin-bottom:-15vh;
    width:50vw;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:0vh;

  }
  #seconddiv-thirdchild{
    background-color: blue;
    margin-top:15vh;
    margin-bottom:10vh;
    width:70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1vh;
    
  }
 
  
  /* footer css ends */
}